pipeline/pl_importstformatfolder_divert.json
{
	"name": "pl_importstformatfolder_divert",
	"properties": {
		"activities": [
			{
				"name": "cp_azure_blob_csv_table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set_runseqno_variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "RunSeqNo",
								"value": {
									"value": "@variables('RunSeqNo')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.WildcardFolderPath",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.WildcardFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "ls_azure_blob_storage",
								"type": "LinkedServiceReference"
							},
							"path": "output/errors"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesMonth",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesMonth",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesValueUSD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesValueUSD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "UnitsSold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitsSold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SourceFileName",
									"type": "String"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunSeqNo",
									"type": "String"
								},
								"sink": {
									"name": "RunSeqNo",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_azure_blob_csv_mapping",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azure_sql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp_update_pipeline_execution",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If rows skipped",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('cp_azure_blob_csv_table').output.filesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('cp_azure_blob_csv_table').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('cp_azure_blob_csv_table').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "\"Done\"",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lkup_runseqno",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "@concat('Pipeline ',pipeline().Pipeline,' executed in ',pipeline().DataFactory)",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set_runseqno_variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup_runseqno",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSeqNo",
					"value": {
						"value": "@string(activity('lkup_runseqno').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If rows skipped",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "sp_move_data_to_Sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('cp_azure_blob_csv_table').output.rowsSkipped,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "cp_rowsSkipped_table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@join(skip(split(activity('cp_azure_blob_csv_table').output.logFilePath, '/'), 1), '/')\n",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_anyblobstorage_csv",
									"type": "DatasetReference",
									"parameters": {
										"Container": "output",
										"Directory": ".",
										"File": "*.csv",
										"LinkedServiceConnectionSecret": "StorageAccountConnectionString"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azure_sql_error_log",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "sp_move_data_to_Sales",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_azure_blob_csv_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PersistLoadedSales]",
					"storedProcedureParameters": {
						"runSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"WildcardFolderPath": {
				"type": "string"
			},
			"WildcardFileName": {
				"type": "string",
				"defaultValue": "*.csv"
			}
		},
		"variables": {
			"RunSeqNo": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "Chapter-06"
		},
		"annotations": []
	}
}